Repository kubernetes-sigs/cluster-api-provider-cloudstack, pull requests merged in 2023-08, with the labels that each got.

#301 Update OWNERS: add vishesh92
  OWNERS
Labels: approved, size/XS, lgtm, cncf-cla: yes

#302 hack/cleanup-ag: spurious affinity group cleaner
  hack/cleanup-affinity-groups.sh
Labels: approved, lgtm, size/L, cncf-cla: yes

#297 Upgrade direct dependencies
  go.mod
  go.sum
  pkg/cloud/isolated_network.go
  pkg/cloud/isolated_network_test.go
  test/e2e/go.mod
  test/e2e/go.sum
Labels: approved, lgtm, size/L, cncf-cla: yes, ok-to-test

#298 Fix race condition causing invalid CS API calls when zone id is not resolved yet
  controllers/cloudstackisolatednetwork_controller.go
  controllers/cloudstackisolatednetwork_controller_test.go
Labels: approved, size/M, lgtm, cncf-cla: yes, ok-to-test
